{{!
  Carousel Hero
  -----
  -----
  ###Class: .carousel-hero
  ###Path: /dist/cms/cms.carousel-hero/carousel-hero.html

  **Carousel Item Config:** .carousel-config-hero
}}

{{#moduleWrap}}

{{#if data.section-title}}
<div class="section-title">
  {{data.section-title}}
</div>
{{/if}}

{{#if data.carousel-items}}
<div class="carousel-group {{data.class-name}}">
  {{#each data.carousel-items}}
  <div class="carousel-item {{class-name}}">
    {{#if img-src}}
      <div data-herocarouselpicture="" style="height: 100%;">
        <div data-src="background-image: url(mda-web/images/fpo/fpo-hero-1.jpg);" data-media="(min-width: 1px)"></div>
        <!-- small -->
        <div data-src="background-image: url(mda-web/images/fpo/fpo-hero-2.jpg);" data-src-2x="background-image: url(mda-web/images/fpo/fpo-hero-2x.jpg);" data-media="(min-width: 753px)"></div>
        <!-- medium -->
        <div data-src="background-image: url(mda-web/images/fpo/fpo-hero-3.jpg);" data-src-2x="background-image: url(mda-web/images/fpo/fpo-hero-3x.jpg);" data-media="(min-width: 993px)"></div>
        <!-- Large -->
        <div class="carousel-image media-image mda-media-brightness"></div>
      </div>
    {{/if}}
    <div class="carousel-body">
      <div class="carousel-body-inner">
        <div class="carousel-body-content">

          {{#if body-title}}
          <div class="carousel-body-title">
            <h1>{{body-title}}</h1>
          </div>
          {{/if}}

          {{#if body-text}}
          <div class="carousel-body-text">
            <p>{{{body-text}}}</p>
          </div>
          {{/if}}
            {{#if cta-text}}
                <div class="left-aligned-cta">
                    <a href="#">{{{cta-text}}}<i class="teaser-more mdicon-arrow"></i></a>
                </div>
            {{/if}}
          {{#if video}}
            <div id="basic-video-container">
          <div id="{{video.video-div-id}}" class="display-video-content"><!-- video player gets inserted here when media option is click --></div>
            </div>
<!-- htmlmin:ignore -->
<div class="video-play-button" rel="playContentinDiv"
data-video-div="#{{video.video-div-id}}"
{{#if video.is-mediahub}}data-video-data='{"id":"EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6","source":"mediahub","sourceJson":{"unique_id":"EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6","keywords":["ICD Code Finder"],"disease_type":[],"mature":null,"show_on_web":"Y","description":"ICD Code Finder Tutorial","privacy":"PUBLIC","media":[{"media_type":"Source media","height":"480","width":"640","size":"640x480","profile_name":null,"server_name":"Archive","url":"mymdafiles/ATS_Video_Archive/4/EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6.mp4","mime_type":"video/mp4"},{"media_type":"Encoded HLS media","height":"480","width":"640","size":"640x480","profile_name":null,"server_name":"Media Server","url":"media.mdanderson.org/vod/media/2015/EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6_hls0.mp4","mime_type":"video/mp4"},{"media_type":"Encoded HLS media","height":"480","width":"640","size":"640x480","profile_name":null,"server_name":"Media Server","url":"media.mdanderson.org/vod/media/2015/EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6_hls1.mp4","mime_type":"video/mp4"},{"media_type":"Encoded HLS media","height":"480","width":"640","size":"640x480","profile_name":null,"server_name":"Media Server","url":"media.mdanderson.org/vod/media/2015/EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6_hls2.mp4","preferred":true,"mime_type":"video/mp4"},{"media_type":"Encoded HLS media","height":"480","width":"640","size":"640x480","profile_name":null,"server_name":"Media Server","url":"media.mdanderson.org/vod/media/2015/EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6_hls3.mp4","mime_type":"video/mp4"},{"media_type":"Encoded audio","server_name":"Media Server","url":"media.mdanderson.org/vod/media/2015/EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6.mp3","mime_type":"audio/mpeg"},{"media_type":"Manifest HLS","server_name":"Media Server","url":"media.mdanderson.org/vod/media/2015/EB5B9C95-5D0E-40B8-AFD3-BFA9ADE749D6.m3u8","mime_type":"audio/x-mpegurl"}],"source":null,"title":"ICD Code Finder Tutorial","record_id":13390,"expire_date":null,"audio_level":"75","publish_date":"2015-09-25 00:00:00","last_update_date":"2015-09-25 16:27:00"}}'{{/if}}{{#if video.is-youtube}}data-video-data='{"id": "8wMGbhN4-UE","source": "youtube","sourceJson":{}}'{{/if}} aria-label="Play" role="button">
<!-- endhtmlmin -->
            <i class="mdicon-videoplay md-2x"></i>
          </div>
        {{/if}}
          {{#if cta}}
            {{>cta cta}}
          {{/if}}
        </div>
      </div>
    </div>



  </div>
  {{/each}}
</div>
{{/if}}

{{#if options.video}}
<div id="{{options.video-div-id}}" class="display-video-content"><!-- video player gets inserted here when media option is click --></div>
{{/if}}

{{#if data.cta}}
<a class="carousel-cta" href="{{data.cta.cta-url}}">{{data.cta.cta-text}} <i class="mdicon-arrow"></i></a>
{{/if}}

{{/moduleWrap}}
